Enter your Org Name:<br>
{{input type="text" value=orgName}}<br><br>

Organization Type:<br>
{{radio-button value='company'    checked=orgType}} Company<br>
{{radio-button value='conference' checked=orgType}} Conference or in person forum<br>
{{radio-button value='online'     checked=orgType}} Online Forum or Space<br>
<br>


{{radio-button value='one'   checked=missionStatementOption}} A<br>
{{radio-button value='two'   checked=missionStatementOption}} B<br>
{{radio-button value='three' checked=missionStatementOption}} C<br>

<h2>Your generated document:</h2><br>
<div style="border: 1px solid black; width:90%; min-height: 50px; margin-left:auto; margin-right:auto; padding: 10px; color: #FFF; background: #999; display: inline-block">


{{#if (eq orgType "online")}}
<h2><span id="Anti-harassment_policy_text" class="mw-headline">Anti-harassment policy text</span></h2>
<h3><span id="Shorter_version" class="mw-headline">Shorter version</span></h3>
<p>{{orgName}} is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, age, race, or religion. We do not tolerate harassment of participants in any form.</p>
<p>This code of conduct applies to all {{orgName}} spaces, including [list, eg "our mailing lists and IRC channel"], both online and off. Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the discretion of the RESPONSE TEAM.</p>
<p>Some {{orgName}} spaces may have additional rules in place, which will be made clearly available to participants. Participants are responsible for knowing and abiding by these rules.</p>
<h3><span id="Longer_version" class="mw-headline">Longer version</span></h3>
<p>{{orgName}} is dedicated to providing a harassment-free experience for everyone. We do not tolerate harassment of participants in any form.</p>
<p>This code of conduct applies to all {{orgName}} spaces, including [give a list of your spaces, eg "our mailing lists and IRC channel"], both online and off. Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the discretion of the RESPONSE TEAM.</p>
<p>Some {{orgName}} spaces may have additional rules in place, which will be made clearly available to participants. Participants are responsible for knowing and abiding by these rules.</p>
<p>Harassment includes:</p>
<ul>
<li>Offensive comments related to gender, gender identity and expression, sexual orientation, disability, mental illness, neuro(a)typicality, physical appearance, body size, age, race, or religion.</li>
<li>Unwelcome comments regarding a person&rsquo;s lifestyle choices and practices, including those related to food, health, parenting, drugs, and employment.</li>
<li>Deliberate misgendering or use of &lsquo;dead&rsquo; or rejected names.</li>
<li>Gratuitous or off-topic sexual images or behaviour &nbsp;in spaces where they&rsquo;re not appropriate.</li>
<li>Physical contact and simulated physical contact (eg, textual descriptions like &ldquo;*hug*&rdquo; or &ldquo;*backrub*&rdquo;) without consent or after a request to stop.</li>
<li>Threats of violence.</li>
<li>Incitement of violence towards any individual, including encouraging a person to commit suicide or to engage in self-harm.</li>
<li>Deliberate intimidation.</li>
<li>Stalking or following.</li>
<li>Harassing photography or recording, including logging online activity for harassment purposes.</li>
<li>Sustained disruption of discussion.</li>
<li>Unwelcome sexual attention.</li>
<li>Pattern of inappropriate social contact, such as requesting/assuming inappropriate levels of intimacy with others</li>
<li>Continued one-on-one communication after requests to cease.</li>
<li>Deliberate &ldquo;outing&rdquo; of any aspect of a person&rsquo;s identity without their consent except as necessary to protect vulnerable people from intentional abuse.</li>
<li>Publication of non-harassing private communication.</li>
</ul>
<p>{{orgName}} prioritizes marginalized people&rsquo;s safety over privileged people&rsquo;s comfort. RESPONSE TEAM reserves the right not to act on complaints regarding:</p>
<ul>
<li>&lsquo;Reverse&rsquo; -isms, including &lsquo;reverse racism,&rsquo; &lsquo;reverse sexism,&rsquo; and &lsquo;cisphobia&rsquo;</li>
<li>Reasonable communication of boundaries, such as &ldquo;leave me alone,&rdquo; &ldquo;go away,&rdquo; or &ldquo;I&rsquo;m not discussing this with you.&rdquo;</li>
<li>Communicating in a &lsquo;tone&rsquo; you don&rsquo;t find congenial</li>
<li>Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions</li>
</ul>
<h4><span id="Reporting" class="mw-headline">Reporting</span></h4>
<p>If you are being harassed by a member of {{orgName}}, notice that someone else is being harassed, or have any other concerns, please contact the RESPONSE TEAM at [email address or other contact point]. If the person who is harassing you is on the team, they will recuse themselves from handling your incident. We will respond as promptly as we can.</p>
<p>This code of conduct applies to {{orgName}} spaces, but if you are being harassed by a member of {{orgName}} outside our spaces, we still want to know about it. We will take all good-faith reports of harassment by {{orgName}} members, especially LEADERSHIP TEAM, seriously. This includes harassment outside our spaces and harassment that took place at any point in time. The abuse team reserves the right to exclude people from {{orgName}} based on their past behavior, including behavior outside {{orgName}} spaces and behavior towards people who are not in {{orgName}}.</p>
<p>In order to protect volunteers from abuse and burnout, we reserve the right to reject any report we believe to have been made in bad faith. Reports intended to silence legitimate criticism may be deleted without response.</p>
<p>We will respect confidentiality requests for the purpose of protecting victims of abuse. At our discretion, we may publicly name a person about whom we&rsquo;ve received harassment complaints, or privately warn third parties about them, if we believe that doing so will increase the safety of {{orgName}} members or the general public. We will not name harassment victims without their affirmative consent.</p>
<h4><span id="Consequences" class="mw-headline">Consequences</span></h4>
<p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
<p>If a participant engages in harassing behavior, RESPONSE TEAM may take any action they deem appropriate, up to and including expulsion from all {{orgName}} spaces and identification of the participant as a harasser to other {{orgName}} members or the general public.</p>
<div id="INCONTENT_WRAPPER">&nbsp;</div>
{{/if}}


{{#if (eq orgType "company")}}
<p>Most conferences will want several different versions of an anti-harassment policy: a short, medium, and long version of the policy for public consumption, and an internal version spelling out implementation for use by the conference organizers and staff.</p>
<h3><span id="Short_public_version" class="mw-headline">Short public version</span></h3>
<p>This is a very short version that refers the reader to a longer version of the policy. Suitable for footers on announcement emails, web pages, news stories, etc.</p>
<dl>
<dd>$CONFERENCE is dedicated to a harassment-free conference experience for everyone. Our anti-harassment policy can be found at:</dd>
</dl>
<dl>
<dd>[URL for full anti-harassment policy]</dd>
</dl>
<h3><span id="Medium_public_version" class="mw-headline">Medium public version</span></h3>
<p>This is a statement of the organizers' principles and sets expectations for the tone and style of the conference. Suitable for the conference web site and longer announcements.</p>
<dl>
<dd>$CONFERENCE is dedicated to providing a harassment-free conference experience for everyone [, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion [insert any other specific concerns here]]. We do not tolerate harassment of conference participants in any form. [Sexual language and imagery is not appropriate for any conference venue, including talks.] Conference participants violating these rules may be sanctioned or expelled from the conference [without a refund] at the discretion of the conference organizers. Our anti-harassment policy can be found at:</dd>
</dl>
<dl>
<dd>[URL for full anti-harassment policy]</dd>
</dl>
<h3><span id="Long_public_version" class="mw-headline">Long public version</span></h3>
<p>This version focuses on specific instructions to the participants, with the goal of preventing harassment in the first place through education. Suitable for the conference web site and conference program material.</p>
<dl>
<dd>[Insert medium public version of policy here.]</dd>
</dl>
<dl>
<dd>Harassment includes, but is not limited to:
<ul>
<li>Verbal comments that reinforce social structures of domination [related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion, [your specific concern here].</li>
<li>Sexual images in public spaces</li>
<li>Deliberate intimidation, stalking, or following&nbsp;</li>
<li>Harassing photography or recording</li>
<li>Sustained disruption of talks or other events</li>
<li>Inappropriate physical contact</li>
<li>Unwelcome sexual attention</li>
<li>Advocating for, or encouraging, any of the above behaviour</li>
</ul>
</dd>
</dl>
<dl>
<dd></dd>
</dl>
<h4><span id="Enforcement" class="mw-headline">Enforcement</span></h4>
<dl>
<dd>Participants asked to stop any harassing behavior are expected to comply immediately</dd>
</dl>
<dl>
<dd>[Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.]</dd>
</dl>
<dl>
<dd>If a participant engages in harassing behaviour, event organisers retain the right to take any actions to keep the event a welcoming environment for all participants. This includes warning the offender or expulsion from the conference [with no refund].</dd>
</dl>
<dl>
<dd>Event organisers may take action to redress anything designed to, or with the clear impact of, disrupting the event or making the environment hostile for any participants.</dd>
</dl>
<dl>
<dd>We expect participants to follow these rules at all event venues and event-related social activities. We think people should follow these rules outside event activities too!</dd>
<dd></dd>
</dl>
<h4><span id="Reporting" class="mw-headline">Reporting</span></h4>
<dl>
<dd>If someone makes you or anyone else feel unsafe or unwelcome, please report it as soon as possible. [Conference staff can be identified by t-shirts/special badges/head sets.] Harassment and other code of conduct violations reduce the value of our event for everyone.&nbsp;We want you to be happy at our event. People like you make our event a better place.</dd>
</dl>
<dl>
<dd>You can make a report either personally or anonymously.</dd>
</dl>
<h4><span id="Anonymous_Report" class="mw-headline">Anonymous Report</span></h4>
<dl>
<dd>You can make an anonymous report here [Wufoo form or similar that DOES NOT require an email address to submit.</dd>
</dl>
<dl>
<dd>We can't follow up an anonymous report with you directly, but we will fully investigate it and take whatever action is necessary to prevent a recurrence.</dd>
</dl>
<h4><span id="Personal_Report" class="mw-headline">Personal Report</span></h4>
<dl>
<dd>You can make a personal report by:</dd>
</dl>
<dl>
<dd>
<ul>
<li>Calling or messaging this phone number: [Phone number for reporting]. This phone number will be continuously monitored for the duration of the event.</li>
<li>Contacting a staff member, identified by STAFF badges, buttons, or shirts.</li>
</ul>
</dd>
<dd>When taking a personal report, our staff will ensure you are safe and cannot be overheard. They may involve other event staff to ensure your report is managed properly. Once safe, we'll ask you to tell us about what happened. This can be upsetting, but we'll handle it as respectfully as possible, and you can bring someone to support you. You won't be asked to confront anyone and we won't tell anyone who you are.</dd>
</dl>
<dl>
<dd>Our team will be happy to help you contact hotel/venue security, local law enforcement, local support services, provide escorts, or otherwise assist you to feel safe for the duration of the event. We value your attendance.</dd>
</dl>
<dl>
<dd>[Email address for organizers]</dd>
<dd>[Phone number for conference security or organizers]</dd>
<dd>[Phone number for hotel/venue security]</dd>
<dd>[Local law enforcement]</dd>
<dd>[Local sexual assault hot line]</dd>
<dd>[Local emergency and non-emergency medical (e.g., urgent care, day clinic)]</dd>
<dd>[Local taxi company]</dd>
</dl>
{{/if}}



</div>
